{% load static %} 

<html>
  <head>
    {% include 'Mheader.html' %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link
   
   
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    <div>

        <nav class="navbar navbar-dark bg-dark">
            <div class="navbar bg-light">
              <a  href={% url "machine" %}  type="button" class="btn btn-success btn-lg">Machine<a>
          </div>
            <div class="navbar bg-light">
                <a  href="#"  type="button" class="btn btn-success btn-lg">coustomar name<a>
            </div>
            <div class="navbar bg-light">
                <a  href="#"  type="button" class="btn btn-success btn-lg">Machine Unique ID<a>
              </div>
              <div class="navbar bg-light">
                <a  href="#"  type="button" class="btn btn-success btn-lg">Number of Sensor<a>
              </div>
              <div class="navbar bg-light">
           
                <a  href="#"  type="button" class="btn btn-success btn-lg">Stop machine<a>
              </div>
              <div class="navbar bg-light">
              <a  href="#"  type="button" class="btn btn-success btn-lg">Delete Machine<a>
              </div>
          </nav>
    
          </div>

        </div>


        
        <h1> Live Data Stream from ESP32:: {{data}}</h1>
             <h2 id="ct"></h2>
     {% comment %} 
             <textarea id="chat-log" cols="100" rows="20"></textarea><br>
             <input type="text" id="chat-message-input" size="100"><br>
             <input type="button" value="Send" id="chat-message-submit"><br> {% endcomment %}
     
            
         <script>
                var ws = new WebSocket("ws://127.0.0.1:8000/ws/ac/")
     
             ws.onopen= function () {
                 console.log("WebSocket connection open......")
                 ws.send("Hi,message from client......") 
      
             } 
             //ws.onmessage = function (event) {
                // console.log("message Received from server....",event.data)
                // document.write("this is sensor:",event.data)
                // document.getElementById("ct").innerText=event.data
                 
     
            // } 
                 ws.onmessage = function (event) {
                 console.log("EVENT....",event)
     
                 document.getElementById("ct").innerText=event.data 
                 //console.log("message Received from server....",event.data)
                 //console.log("Type of the Data...",typeof(event.data))
                 //var data = JSON.parse(event.data)
                 //console.log("parse Data",data)
                 //console.log("Type of parsed Data",typeof(data))
                 //document.getElementById("ct").innerText=event.data 
                 
     
             }
             ws.onerror = function (event) {
                 console.log("WebSocket Error Occurred......",event)
             }
             ws.onclose = function (event) {
                 console.log("WebSocket connection Closed...",event)
             } 
         </script>


  
















        



















































        //<div class="live">
          //<script>
            //window.onload = function () {
            
            //var dps = []; // dataPoints
            //var chart = new CanvasJS.Chart("chartContainer", {
            //  title :{
             //   text: "Live DATA Stream"
            //  },
             // data: [{
               // type: "line",
               // dataPoints: dps
              //}]
            //});
            
            //var xVal = 0;
            //var yVal = 100; 
            //var updateInterval = 1000;
            //var dataLength = 20; // number of dataPoints visible at any point
            
            //var updateChart = function (count) {
            
             // count = count || 1;
            
              //for (var j = 0; j < count; j++) {
               // yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
               // dps.push({
                  //x: xVal,
                  //y: yVal
                //});
               // xVal++;
              //}
            
              //if (dps.length > dataLength) {
               // dps.shift();
              //}
            
             // chart.render();
            //};
            
           // updateChart(dataLength);
           // setInterval(function(){updateChart()}, updateInterval);
            
            //}
      
      
           // </script>
      
        //<div id="chartContainer" style="height: 370px; width:100%;"></div>
      //<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      
         // </div>
    </body>

</html>